 #App{
     display:grid;
     grid-template-areas:
         ". head ."
         ". menu ."
         ". body ."
         ". foot .";
 }

 #header{
     grid-area: head;
 }
 
 #menu{
     grid-area: menu;
 }

 #BookTravel{
     grid-area: body;
 }