 #App{
     display:grid;
     grid-template-areas:
         ". head ."
         ". menu ."
         ". body ."
         ". foot .";
 }
 #App div{
     grid-area: body;
 }

 #App div#header{
     grid-area: head;
 }
 
 #App div#menu{
     grid-area: menu;
 }