* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./Carpool.png');
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 62.5%;
  padding: 0.5rem;
  overflow-y: scroll;
}

div#root {
  margin-top: 2rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
}

div#App {
  display: grid;
  grid-template-areas:
    'head'
    'menu'
    'body'
    'foot';
  color: rgb(255, 255, 255);
  width: 60vw;
}

div#header {
  grid-area: head;
  text-align: center;
  color: #fff;
}
div#header > h1 {
  font-size: 3rem;
}

div#menu,
div#dropdown {
  grid-area: menu;
  text-align: center;
  margin: 1rem 0;
  font-size: 1rem;
}
div#dropdown {
  text-align: left;
}
div#menu > a {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0 1%;
  border: none;
  text-decoration: none;
}
div#menu > a:hover {
  text-decoration: underline;
}
div#menu > a:first-child {
  padding-left: 0;
}
div#menu > a:last-child {
  padding-right: 0;
}

div#Main {
  grid-area: body;
  font-size: 1rem;
  padding: 1rem;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 0.3rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
div#Main h1 {
  margin-bottom: 1rem;
}
div#Main > div > p {
  line-height: 1.4rem;
  text-align: justify;
}
div#Main > div > p:not(:last-child) {
  margin-bottom: 1rem;
}

div#Main button {
  padding: 0.5rem 2rem;
}
div#Main > div#BookTravel input,
div#Main > div#BookTravel textarea {
  padding: 0.5rem;
  border: none;
  border: 0.1rem solid #fff;
  width: 100%;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
}
div#Main > div#BookTravel input[type='checkbox'] {
  width: 3rem;
}

div#Main > div#listing > div {
  margin-bottom: 2rem;
}
div#Main > div#listing > div:last-child {
  margin-bottom: 0;
}
div#Main > div#listing > div > h3 {
  font-size: 2rem;
}
div#Main > div#listing > div > button {
  margin-top: 0.3rem;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
}
div#Main > div#listing > div > div#listGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.2rem;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-shadow: 1px 1px 0 #000;
}
div#Main > div#listing > div > div#listGrid > div:nth-child(odd) {
  font-weight: bold;
}
div#Main > div#listing > div > div#listGrid > div {
  padding: 0.2rem;
}
div#Main > div#listing > div > div#listGrid > div.listOrange {
  color: orange;
}
div#Main > div#BookTravel > form > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
}
div#Main > div#listing > div#nolist > h1 {
  margin-bottom: 0;
}

div#Main > div#BookTravel > form > div > div > div.error {
  font-size: 0.9rem;
  color: rgb(255, 164, 164);
  text-shadow: 1px 1px 0 #333;
  margin-bottom: 0.4rem;
}

@media (width < 900px) {
  div#Main > div#listing > div > div#listGrid,
  div#Main > div#BookTravel > form > div {
    display: block;
  }
  div#Main > div#listing > div > div#listGrid > div:nth-child(even) {
    margin-bottom: 0.5rem;
  }
  div#menu {
    display: none;
  }
  div#dropdown > button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.471);
    color: #fff;
    width: 100%;
  }
  /* Dropdown Button */
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    width: 98vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  div#App {
    width: 98vw;
  }
}
@media (width >= 900px) {
  div#dropdown {
    display: none;
  }
}
