* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./Carpool.png');
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 62.5%;
}

div#root {
  margin-top: 2rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
}

#App {
  display: grid;
  grid-template-areas:
    'head'
    'menu'
    'body'
    'foot';
  color: rgb(255, 255, 255);
  width: 60vw;
}

#header {
  grid-area: head;
  text-align: center;
  color: #fff;
}
#header > h1 {
  font-size: 3rem;
}

#menu,
#dropdown {
  grid-area: menu;
  text-align: center;
  margin: 1rem 0;
  font-size: 1rem;
}
#dropdown {
  text-align: left;
}
#menu > a {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0 1%;
  border: none;
  text-decoration: none;
}
#menu > a:hover {
  text-decoration: underline;
}
#menu > a:first-child {
  padding-left: 0;
}
#menu > a:last-child {
  padding-right: 0;
}

#Main {
  grid-area: body;
  font-size: 1rem;
  padding: 0.4rem;
}
#Main h1 {
  margin-bottom: 1rem;
}
#Main > div > p {
  margin-bottom: 1rem;
}

#Main button {
  padding: 1rem 2rem;
}
input,
textarea {
  padding: 0.5rem;
  border: none;
  border: 0.1rem solid #fff;
  width: 100%;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
}
input[type='checkbox'] {
  width: 5%;
}

div#Main > div > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
div#Main > div > div:last-child {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
div#Main > div > div > h3 {
  font-size: 2rem;
}
div#Main > div > div > button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
}
div#Main > div > div > ul {
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

@media (width < 900px) {
  div#menu {
    display: none;
  }
  div#dropdown > button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.471);
    color: #fff;
    width: 100%;
  }
  /* Dropdown Button */
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    width: 98vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  #App {
    width: 98vw;
  }
}
@media (width >= 900px) {
  div#dropdown {
    display: none;
  }
}
